<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
      <%= image_tag 'icon1.png', :size =>'31x31' %>
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
      <%= image_tag 'icon1.png', :size =>'31x31' %>
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        こんばんは
      </div>
    </div>
  </div>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <div class="form-select">
      <%= f.select :feeling_id, {'喜': 1, '怒': 2, '哀': 3, '楽': 4}, { include_blank: '感情'}, { class: 'form-control' , required: true } %>
    </div>
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>