<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <img src=<%= message.user.image %> class = "icon_image">
      <%= message.user.name %>
    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= feeling[message.feeling_id - 1] %>
      <%= message.content %>
    </div>
  </div>
</div>

<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <img src=<%= message.chara_message.chara.image %> class = "icon_image">
      <%= message.chara_message.chara.name %>
    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%=  message.chara_message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= feeling[message.chara_message.feeling_id - 1] %>
      <%= message.chara_message.content %>
    </div>
  </div>
</div>